<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Axios -->
    <script src="node_modules/axios/dist/axios.min.js"></script>
    <!-- Vue -->
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <!-- Font Awesom Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Bulma -->
    <!-- <script src="node_modules/@creativebulma/bulma-collapsible/dist/js/bulma-collapsible.min.js"></script>
    <link rel="stylesheet" href="node_modules/@creativebulma/bulma-collapsible/dist/css/bulma-collapsible.min.css"> -->
    <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
    <!-- JavaScript -->
    <script defer src="js/main.js"></script>
</head>
<body>

  <!-- Header of the page / Titles -->
  <section class="section">
    <div class="box has-background-grey-lighter">
      <div class="heading">
        <h1 class="title is-2 is-spaced has-text-centered">Contact List</h1>
        <h2 class="subtitle is-5 has-text-centered">Final project for the course <strong>"Máster en Desarrollo FrontEnd"</strong> for the <a href="https://idecrea.es/">Idecrea</a> school</h2>
        <h2 class="subtitle is-5 has-text-centered">Create by <strong>Alina Klymenko</strong></h2>
      </div>
    </div>
  </section>

  <!-- Table with contacts list, Add New button, search field and paging -->
  <section class="box">

    <!-- Create new Contact -->
    <div id="vueapp">
      <!-- Add New Contact button -->
      <div class="buttons is-right">
        <button class="button is-light is-rounded" v-on:click="isShowModal = true">
          <!-- Icon inside the button -->
          <span class="icon is-small">
            <i class="fas fa-plus"></i>
          </span>
          <!-- Title of the button -->
          <span>
            Add new Contact
          </span>
      </button>
      </div>

      <!-- Create Contact Modal form -->
      <div class="modal" v-bind:class="{ 'is-active': isShowModal }">
        <div class="modal-background" v-on:click="isShowModal = false; emptyCreateForm()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Add new contact</p>
            <button class="delete" aria-label="close" v-on:click="isShowModal = false; emptyCreateForm()"></button>
          </header>
          <!-- Modal form content -->
          <section class="modal-card-body">
            <!-- Full Name field -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Full Name:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" v-on:input="nameError = false" :class="{'is-danger': nameError}" type="text" placeholder="Full Name" v-model="contactName">
                  </p>
                  <p class="help is-danger" v-if="nameError">Please, enter Contact full name</p>
                </div>
              </div>
            </div>
            <!-- Email Address field -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email Address:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" v-on:input="emailError = false" :class="{'is-danger': emailError}" type="email" placeholder="email@example.com" v-model="contactEmail">
                  </p>
                  <p class="help is-danger" v-if="emailError">Please, enter Contact email address</p>
                </div>
              </div>
            </div>
            <!-- Phone Number field -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Phone Number:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" v-on:input="phoneError = false" :class="{'is-danger': phoneError}" type="tel" placeholder="(123)1234-123" v-model="contactPhone">
                  </p>
                  <p class="help is-danger" v-if="phoneError">Please, enter Contact phone number</p>
                </div>
              </div>
            </div>
          </section>
          <!-- Modal form footer with Save and Cancel buttons -->
          <footer class="modal-card-foot" style="padding-top: 10px; padding-bottom: 10px">
            <div  style="margin-left: auto; margin-right: auto;">
              <button class="button is-success" v-on:click="createNewContact">Create</button>
              <button class="button" v-on:click="isShowModal = false; emptyCreateForm()">Cancel</button>
            </div>
          </footer>
        </div>
        <button class="modal-close is-large" aria-label="close"  v-on:click="isShowModal = false; emptyCreateForm()"></button>
      </div>
    </div>
  
  <!-- Table with a list of Contacts -->
  <div id="app-table-content">
    <!-- Search by Name field -->
    <div class="field has-addons">
      <p class="control is-expanded has-icons-left">
        <input v-model="searchName" class="input is-rounded" type="text" placeholder="Search...">
        <!-- Icon inside the Search field -->
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
      <!-- Clear Search field -->
      <p class="control">
        <a class="button is-rounded" :disabled="searchName == ''" v-on:click="clearSearchField">
          <span class="icon is-right">
            <i class="fas fa-times"></i>
          </span>
        </a>
      </p>
    </div>
 
    <!-- Table with contact -->
    <div class="table-container">
      <table class="table is-striped is-narrow is-hoverable is-fullwidth">
        <thead class="has-background-grey-lighter">
          <tr>
            <th v-on:click="sortByColumn = 'fullName'">Full Name</th>
            <th v-on:click="sortByColumn = 'emailAddress'">Email Address</th>
            <th v-on:click="sortByColumn = 'phoneNumber'">Phone Number</th>
            <th class="has-text-centered">View</th>
            <th class="has-text-centered">Edit</th>
            <th class="has-text-centered">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="contact in contactPerPage">
            <td> {{ contact.fields.Name }} </td>
            <td> {{ contact.fields.Email }} </td>
            <td> {{ contact.fields.Phone }} </td>
            <!-- View Icon -->
            <td class="has-text-centered">
              <button class="button is-text is-small is-rounded" v-on:click="modalInfo = contact">
                <span class="icon is-small">
                  <i class="fas fa-address-card"></i>
                </span>
              </button>
            </td>
            <!-- Edit Icon -->
            <td class="has-text-centered">
              <button class="button is-text is-small is-rounded" v-on:click="modalEdit = contact">
                <span class="icon is-small">
                  <i class="fas fa-pen"></i>
                </span>
              </button> 
            </td>
            <!-- Delete Icon -->
            <td class="has-text-centered">
              <button  class="button is-text is-small is-rounded" v-on:click="deleteRecord = contact">
                <span class="icon is-small">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- View Contact Modal Form -->
    <div class="modal" v-if="modalInfo" v-bind:class="{ 'is-active': modalInfo }">
      <div class="modal-background" v-on:click="modalInfo = undefined"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">View Contact</p>
          <button class="delete" aria-label="close" v-on:click="modalInfo = undefined"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <!-- Full Name -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Full Name:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" type="text" :value="modalInfo.fields.Name" readonly>
                </p>
              </div>
            </div>
          </div>
          <!-- Email Address -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email Address:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" type="email" :value="modalInfo.fields.Email" readonly>
                </p>
              </div>
            </div>
          </div>
          <!-- Phone Number -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Phone Number:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input is-static" type="tel" :value="modalInfo.fields.Phone" readonly>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- <button class="modal-close is-large" aria-label="close"  v-on:click="modalInfo = undefined"></button> -->
    </div>

    <!-- Edit Contact Modal Form -->
    <div class="modal" v-if="modalEdit" v-bind:class="{ 'is-active': modalEdit }">
      <div class="modal-background" v-on:click="modalEdit = undefined"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Contact</p>
          <button class="delete" aria-label="close" v-on:click="modalEdit = undefined"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <!-- Full Name -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Full Name:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" v-on:input="editNameError = false" :class="{'is-danger': editNameError}" type="text" v-model="editName">
                </p>
                <p class="help is-danger" v-if="editNameError">Contact name cannot be empty</p>
              </div>
            </div>
          </div>
          <!-- Email Address -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email Address:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" v-on:input="editEmailError = false" :class="{'is-danger': editEmailError}" type="email" v-model="editEmail">
                </p>
                <p class="help is-danger" v-if="editEmailError">Contact email cannot be empty</p>
              </div>
            </div>
          </div>
          <!-- Phone Number -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Phone Number:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" v-on:input="editPhoneError = false" :class="{'is-danger': editPhoneError}" type="tel" v-model="editPhone">
                </p>
                <p class="help is-danger" v-if="editPhoneError">Contact Phone number cannot be empty</p>
              </div>
            </div>
          </div>
        </section>
      <!-- Modal form footer with Save and Cancel buttons -->
      <footer class="modal-card-foot" style="padding-top: 10px; padding-bottom: 10px">
        <div  style="margin-left: auto; margin-right: auto;">
        <button class="button is-success" v-on:click="updateContact">Save</button>
        <button class="button" v-on:click="modalEdit = undefined">Cancel</button>
      </div>
      </footer>
      </div>
      <!-- <button class="modal-close is-large" aria-label="close"  v-on:click="modalEdit = undefined"></button> -->
    </div>

    <!-- Delete Contact -->
    <div class="modal" v-if="deleteRecord" v-bind:class="{ 'is-active': deleteRecord }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <section class="modal-card-body has-text-centered">
          <!-- Content ... -->
          Do you want to delete the contact <strong>{{ deleteRecord.fields.Name }}</strong>?
        </section>
        <footer class="modal-card-foot" style="padding-top: 10px; padding-bottom: 10px">
          <div  style="margin-left: auto; margin-right: auto;">
            <button class="button is-success" v-on:click="removeContact">Delete</button>
            <button class="button" v-on:click="deleteRecord = undefined">Cancel</button>
          </div>
          </footer>
      </div>
    </div>

    <!-- Pagination -->
    <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination" style="margin: auto; width: 50%">
      <a class="pagination-previous" :disabled="page == 1" @click.prevent="goToPreviousPage()">Previous</a>
      <a class="pagination-next" :disabled="contactPerPage.length < perPage || page == last_page" @click.prevent="goToNextPage()">Next page</a>
      <ul class="pagination-list" v-for="tmp in pagesArray">
        <li><a v-bind:class="{'pagination-link':true, 'is-current':(tmp === page)}" @click.prevent="showPagesNumbers(tmp)">{{ tmp }}</a></li>
    </nav>
   
  </div>
  </section>

  <!-- Footer -->
  <footer class="footer" style="padding-top: 20px; padding-bottom: 30px">
    <div class="content has-text-centered">
      <p>
        Many thanks to <a href="https://programadorwebvalencia.com/">Andros Fenollo</a> for his help in creating this project.
      </p>
      <p>
        Style: <a href="https://bulma.io">Bulma</a>  
        Icons: <a href="https://fontawesome.com">Font Awesome</a>  
        Framework: <a href="https://vuejs.org/">Vue.js</a>  
        Database: <a href="https://airtable.com/">Airtable</a>
        Repository & hosting: <a href="https://github.com/">GitHub</a>
      </p>
    </div>
  </footer>

</body>
</html>